*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

#waiting-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
}

.unit {
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: grab;
    border-radius: 0;
    font-size: 12px;
    height: 22px !important;
    min-width: 50px !important;
    padding: 0 2px !important;
    width: auto !important;
    line-height: 17px !important;
    border: 2px solid white;
}

.unit:active {
    cursor: grabbing;
}

.modal h4 {
    padding-bottom: 8px;
    margin-left: -2px;
}

.on-call {
    transform: rotate(90deg);
}

.has-tool {
    background: url('/tool.png') no-repeat;
    background-position: right 2px center;
    padding-right: 10px !important;
}

#title { 
    position: absolute;
    top: 5px;
    left: 613px;
}

#title h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#title h2 {
    font-size: 1em;
    font-weight: normal;
    color: #777;
    margin: 0;
    padding: 0;
}

.chat-container {
    border: 1px solid black;
    width: 590px;
    height: 400px;
    padding: 10px;
    margin: 10px;
}

.chat-container ul {
    height: 270px;
    overflow-y: scroll;
}

.chat-container h1 {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.chat-container .name {
    font-weight: bold;
}
.chat-container .date {
    color: #888;
    font-size: 0.8em;
}

#fill-in-image {
    background: url('/fillin-map.png') no-repeat;
    width: 964px;
    height: 700px;
    margin-left: 12px;
    margin-top: 0px;
}

.modal {
    overflow-y: visible
}

#toast-container {
    top: 10px !important;
    right: 10px !important;
    bottom: auto !important;
    left: auto !important;
}

